* {
  box-sizing: border-box;
}

div, ul {
  margin: 0;
  padding: 0;
}

body{
  background-image: url('../img/rag.png');
  background-repeat: repeat-x;
  background-position: top center;
  /*background-color: #E4E4E4;*/
  background-color: hotpink;
  font-family: Cambria, Georgia, serif;
}

.container{
  position: relative;
}

a{
  color: #890101;
  text-decoration: none;
}
a:hover,
a:active {
  color: #DF3030;
}



/*SIDEBAR*/
.sidebar {
  min-width: 300px;
  width: 30vw;
  float: left;
  position: relative;
  padding: 25px;
}

.logo{
  display: block;
  background-image: url('../img/logo-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  float: left;
  min-width: 280px;
  min-height: 280px;
  top: 25px;
  left: 50%;
  transform: translate(-50%);
  position: relative;
}

.logo img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-36%);
}

/*NAV*/
.main-nav {
  float: right;
  width: 65vw;
}
ul li {
  display: inline-block;
  list-style: none;
  text-align: center;
  font-variant: small-caps;
  font-size: 20px;
  width: 25%;
}
li:not(:first-child){
  margin-left: 10%;
}

li:hover hr{
  border: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  height: 40px;
  background-image: url('../img/ornament.png');
  background-position: center;
  background-size: cover;
  /* width: 100px; */
}

/*MAIN*/
.main > hr{
  width: 30%;
  display: inline-block;
  text-align: center;
}

.main p {
  text-align: left;
}

.main {
  width: 65vw;
  float: right;
  text-align: center;
}
.photo-grid{
  text-align: left;
}
.caption {
  display: inline-block;
  margin: 1%;
  width: 14%;
  text-align: center;
}
.caption h3 {
  font-size: 0.7em;
  color: #890101;
  text-transform: uppercase;
  font-weight: 200;
}
.caption img{
  border-radius: 5px;
  width: 100%;
}

.copy{
  text-align: center;
}

@media screen and (max-width: 1300px){
  .main-nav {
    clear: left;
    float: left;
    width: 30vw;
    text-align: center;
    position: relative;
  }

  .main-nav ul{
    text-align: center;
  }

  ul li {
    display: block;
  }

  .main {
    float: right;
    width: 65vw;
    position: relative;
    top: -220px;
  }

  .caption{
    width: 30%;

}

@media screen and (max-width: 900px){

}

@media screen and (max-width: 400px){

}
